<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zds.bioengtsnapp.mapper.PhoneNumbersMapper">

    <resultMap id="BaseResultMap" type="com.zds.bioengtsnapp.domain.PhoneNumbers">
            <result property="id" column="id" />
            <result property="userId" column="user_id" />
            <result property="typeDisplayName" column="type_display_name" />
            <result property="number" column="number" />
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,type_display_name,number
    </sql>
</mapper>
